input[type=checkbox]:checked+.menu {
    width: 20vw;
}

main>.menu {
    overflow: hidden;
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    width: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .15);
    transition: width ease-in-out 500ms;
}

main>.menu>a,
main>.menu>li {
    box-sizing: border-box;
    display: block;
    margin: 0 5px;
    padding: 25px 15px;
    cursor: pointer;
    color: var(--Accent2);
    text-decoration: none;
    border-radius: 50px;
    text-overflow: clip;
    white-space: nowrap;
    transition: background-color ease-in-out 250ms;
}

main>.menu>a:hover,
main>.menu>li:hover {
    background-color: var(--Accent);
}

main>.menu>a>img,
main>.menu>li>img {
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

main>.menu>hr {
    text-overflow: clip;
    height: 2px;
    width: 17vw;
    border: none;
    background: var(--Accent3);
}